body{
    margin: 0;
    padding: 0;
}






header{
    display: block;
    background: white;
}

header nav{
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    text-decoration: none;
    display: flex;
}

header nav ul li{
    list-style-type: none;
    color: #333;
    text-align: center;

    /* text links */
    /* font-family: "Sarabun"; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }

header nav ul li a {
    text-decoration: none;
    padding: 0 15px;
}



.promocao{
    text-decoration-line: underline ;
}

.promocao:hover{
    text-decoration-color: #ff0b82;
}


header nav ul li a:hover{
    color: #ff0b82;
}


.dropdown {
    margin-top: -28px ;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .dropdown-content {
    transform: translateY(130px) translateX(35px);
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 180px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .link-categria{
    font-size: 14px;
    padding-top: 10px;
    display: block;
    height: 30px;
  }

.link-categria:hover{
    background: #ECECEC;
    color: #333
}

